* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: azure;
}
.navigation {
  padding: 20px;
  font-family: "Figtree", sans-serif;
  background-color: rgba(19, 19, 216, 0.795);
  color: azure;
}
.navigation h1 {
  display: inline-block;
  font-size: 48px;
}
.navigation nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Figtree", sans-serif;
  font-size: 20px;
}
.navigation nav ul {
  list-style-type: none;
}
.navigation nav ul li {
  display: inline-block;
  margin-left: 25px;
}
a {
  color: azure;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
aside {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  background-color: rebeccapurple;
}
/* div {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 60px;
} */
.applications {
  flex: 4;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.apps {
  font-family: "Figtree", sans-serif;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  margin: 30px;
  flex: 0 0 300px;
}
.apps header {
  font-family: "Figtree", sans-serif;
  padding: 15px;
}
.apps img {
  width: auto;
}
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
